# Normalize line endings for all files that Git considers text files.
* text=auto eol=lf

# Only include easy-peasy-multiplayer for exporting
/**        export-ignore
/addons/** export-ignore
/addons    !export-ignore
/addons/easy_peasy_multiplayer